@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

@mixin vh100 {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

$bootstrap-side: calc((100vw - 1120px) / 2);
$bootstrap-side-minus: calc((100vw - 1120px) / -2);

$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol"; ;
